*/__pycache__/*
mdvcontainment/__pycache__/*
*.pickle
*.ipynb_checkpoints
*mdvcontainment.egg-info
*cpython
build
temp
dist
*.c
*.so
examples/notebooks/*.pdb
examples/notebooks/*.gro
examples/notebooks/*.tga
examples/structures/large
examples/notebooks/compositions.png
