/* Remove padding and use small space when it comes after [source] */
.viewcode-link ~ a.reference.external[href*="github.com/"][href*="/blob/"] {
    padding-left: 4px !important;
}

/* Hide the viewcode [source] link */
.viewcode-link {
    display: none !important;
}

/* Style the GitHub link */
a.reference.external[href*="github.com/"][href*="/blob/"] {
    font-size: 0 !important;
    padding-left: 24px;
}

a.reference.external[href*="github.com/"][href*="/blob/"]::before {
    content: "[code]";
    color:#27ae60;
    font-size: 12px;
}